<div class="container">
  <div class="col-md-9 spleft">
    <% sp.forEach(function(sp){

    %>
      <div class="mySlides">
      
        <img src="../<%= sp.anhsp %>" >
      </div>

  <div class="mySlides">

    <img src="http://product.hstatic.net/1000026602/product/44240920_1822713114517698_6888710170747076608_n_master.jpg" >
  </div>

  <div class="mySlides">
  
    <img src="http://product.hstatic.net/1000026602/product/44202302_1822713047851038_6786867343583608832_n_master.jpg" >
  </div>
    
  <div class="mySlides">

    <img src="http://product.hstatic.net/1000026602/product/44217005_1822713187851024_1080888464896950272_n_master.jpg" >
  </div>

  <div class="row" style="margin-top: 10px; margin-left: 60px;">
    <div class="col-md-2 col-xs-2">
        <img class="demo" src="http://product.hstatic.net/1000026602/product/44352399_1822712927851050_2376691789001129984_n_master.jpg" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="col-md-2 col-xs-2">
        <img class="demo" src="http://product.hstatic.net/1000026602/product/44352399_1822712927851050_2376691789001129984_n_master.jpg" style="width:100%" onclick="currentSlide(2)">
    </div>
    <div class="col-md-2 col-xs-2">
        <img class="demo" src="http://product.hstatic.net/1000026602/product/44352399_1822712927851050_2376691789001129984_n_master.jpg" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="col-md-2 col-xs-2">
        <img class="demo" src="http://product.hstatic.net/1000026602/product/44352399_1822712927851050_2376691789001129984_n_master.jpg" style="width:100%" onclick="currentSlide(4)">
    </div>

  </div>
   </div>


   <div class="col-md-3">
      <div class="spright text-center">
        <h3>Thun N.BALANCE Sọc Vai </h3>
        <div class="gia">
          <span><%= sp.gia %> đ</span>
        </div>
      </div>
   </div>

   <div class="themgio">
   <a href="/cart/add_cart/<%= sp._id %>">
       <button class="btn btn-primary">Thêm vào giỏ 
      </button>
    </a>
  </div>
  <div class="muangay">
     <button class="btn btn-primary">Mua Ngay 
    </button>
  </div>
</div>
  <%  })  %>
<div class="container">
<div class="tt">
  <div class="col-md-4 tt-sp">
    <span>THÔNG TIN SẢN PHẨM</span>
    <p>- Chất thun dầy dặn , 3 màu</p>
    <p>- Size L fit 85kg.</p>
  </div>

  <div class="col-md-4 uudai">
    <span>ƯU ĐÃI MEMBER VIP</span>
    <p>Vui lòng đăng kí tài khoản mua hàng để được tích điểm làm Member Vip:</p>
    <p>- Tài khoản Sliver được giảm 5% khi tích đủ 5tr</p>
    <p>- Tài khoản Gold được giảm 10% khi tích đủ 10tr</p>
  </div>

  <div class="col-md-4 doitra">
    <span>CHÍNH SÁCH ĐỔI TRẢ HÀNG</span>
    <p>- Được kiểm tra hàng trước khi nhận hàng</p>
    <p>- Đổi/ Trả trong vòng 7 ngày kể từ khi nhận hàng</p>
    <p>- Vui lòng gửi hàng Đổi/Trả lại tại địa chỉ 332 Cao Đạt P.1 Quận 5
</p>
  </div>
</div>
  

<div class="col-md-4 vanchuyen">
    <div class="khung">
      <img src="http://theme.hstatic.net/1000026602/1000344537/14/icon-vanchuyen.png?v=95" alt="">
      <p>Miễn phí vận chuyển toàn quốc</p>
      <p>Với Đơn Hàng Trên 500.000 đ</p>
    </div>
  </div>
  <div class="col-md-4 hotro">
    <div class="khung">
      <img src="http://theme.hstatic.net/1000026602/1000344537/14/icon-hotro.png?v=95" alt="">
      <p>Hỗ trợ 24/7</p>
      <p>0287 307 64 64</p>
    </div>
  </div>
  <div class="col-md-4 doitra">
    <div class="khung">
      <img src="http://theme.hstatic.net/1000026602/1000344537/14/icon-doitra.png?v=95" alt="">
      <p>Miễn phí đổi trả</p>
      <p>Trong Vòng 10 ngày</p>
    </div>
  </div>
</div>
<!-- end-vanchuyen -->

<div class="xemthem">
  <div class="container">
<div class="spmoi text-center">
      <h3>Sản phẩm Sale</h3>
      <p><a href="#"> Xem Thêm </a></p>
    </div>

    <section class="regular3 slider">
        <div class="item_spsale">
          <img src="http://product.hstatic.net/1000026602/product/41871318_1783416348447375_8711673898111860736_o_large.jpg">
          <div class="info_spsale">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>

        <div class="item_spsale">
          <img src="http://product.hstatic.net/1000026602/product/41871318_1783416348447375_8711673898111860736_o_large.jpg">
          <div class="info_spsale">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="item_spsale">
          <img src="http://product.hstatic.net/1000026602/product/41871318_1783416348447375_8711673898111860736_o_large.jpg">
          <div class="info_spsale">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="item_spsale">
          <img src="http://product.hstatic.net/1000026602/product/41871318_1783416348447375_8711673898111860736_o_large.jpg">
          <div class="info_spsale">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="item_spsale">
          <img src="http://product.hstatic.net/1000026602/product/41871318_1783416348447375_8711673898111860736_o_large.jpg">
          <div class="info_spsale">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="item_spsale">
          <img src="http://product.hstatic.net/1000026602/product/41871318_1783416348447375_8711673898111860736_o_large.jpg">
          <div class="info_spsale">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>
        

    </section>

</div>
</div>