<div class="container">
  
<div class="pathsp text-center">
  <span>Trang chủ</span>
  <span class="spmoi">SẢN PHẨM MỚI</span>
</div>

<div class="anh-xemthem">
  <div class="col-md-3 xemthem-left">
    <h3>SẢN PHẨM MỚI</h3>
    <img src="http://file.hstatic.net/1000026602/collection/sh_web_contact_cuahang-03.png" alt="" width="100%">
  </div>
  <div class="col-md-9">
    <img src="http://file.hstatic.net/1000026602/file/banner_website-01.png" alt="" width="100%">
  </div>
</div>
</div>
<div class="loc">
  <div class="container">
  <select name="" id="">
    <option value="">SẢN PHẨM MỚI</option>
    <option value="">Giá: Tăng dần</option>
  </select>
  </div>
</div>


<!-- list-sp -->
<div class="sp" style="margin-top: 1%">
  <div class="container">
    <div class="col-md-3 itemsp">
          <img src="http://product.hstatic.net/1000026602/product/40663982_1761835080605502_4667273898943840256_o_large.jpg" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


      <div class="col-md-3 itemsp">
          <img src="http://product.hstatic.net/1000026602/product/40663982_1761835080605502_4667273898943840256_o_large.jpg" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="col-md-3 itemsp">
          <img src="http://product.hstatic.net/1000026602/product/40663982_1761835080605502_4667273898943840256_o_large.jpg" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="col-md-3 itemsp">
          <img src="http://product.hstatic.net/1000026602/product/40663982_1761835080605502_4667273898943840256_o_large.jpg" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="col-md-3 itemsp">
          <img src="http://product.hstatic.net/1000026602/product/40663982_1761835080605502_4667273898943840256_o_large.jpg" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>


        <div class="col-md-3 itemsp">
          <img src="http://product.hstatic.net/1000026602/product/40663982_1761835080605502_4667273898943840256_o_large.jpg" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> Sơ Mi Kaki MNG 3 Màu </h4>
            <div class="gia">
              <span>320,000₫</span>
            </div>
          </div>
        </div>

<div class="col-md-12">
    <ul class="pagination pagination-sm">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
  </ul>
</div>


  </div>
</div>
<!-- end-list-sp -->


<!-- vanchuyen -->
<div class="container">
  <div class="col-md-4 vanchuyen">
    <div class="khung">
      <img src="http://theme.hstatic.net/1000026602/1000344537/14/icon-vanchuyen.png?v=95" alt="">
      <p>Miễn phí vận chuyển toàn quốc</p>
      <p>Với Đơn Hàng Trên 500.000 đ</p>
    </div>
  </div>
  <div class="col-md-4 hotro">
    <div class="khung">
      <img src="http://theme.hstatic.net/1000026602/1000344537/14/icon-hotro.png?v=95" alt="">
      <p>Hỗ trợ 24/7</p>
      <p>0287 307 64 64</p>
    </div>
  </div>
  <div class="col-md-4 doitra">
    <div class="khung">
      <img src="http://theme.hstatic.net/1000026602/1000344537/14/icon-doitra.png?v=95" alt="">
      <p>Miễn phí đổi trả</p>
      <p>Trong Vòng 10 ngày</p>
    </div>
  </div>
</div>
</div>

</div>