<!DOCTYPE html>
<html lang="en">
<head>
<% include ../layout/web/head  %>
</head>
<body>
<% include ../layout/web/header  %>
<% include ../layout/web/chitiet_sp  %>
<% include ../layout/web/footer  %>









</body>

 <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="../js/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../js/slick_slide.js"></script>
</html>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
 var dots = document.getElementsByClassName("demo");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";

}


</script>



